*{
    margin:0;
    padding: 0;
    font-family: "Century Gothic","Arial",sans-serif;
    box-sizing: border-box;
}

body{
    background: #111;
}

::selection{
    background: #66FFCC;
}

::-moz-selection{
    background: #66FFCC;
}




header h1{

    font-size: 100px;
    text-align: center;
    padding: 35px 0 100px 0;
    letter-spacing: 20px;
    color:#eee;
    
}

h2{
    color: #eee;
    padding-left: 400px;
    font-size: 35px;
    font-weight: 100;
    
}

p{
    padding: 20px 400px 100px 400px;
    color: #eee;
}

.themeBox{
    width: 100%;
    height: 150px;
    margin: 50px 0;
    background: #222;
    box-sizing: border-box;
    overflow: auto;
    

}

.link{
    overflow: hidden; /*clear fix*/
    padding: 0 300px;
    width: 100%;
    display: block;
    
}

.link:hover .arrow{
    transform: translateX(50px);
    
}

.themeBox img{
    height: 100%;
    float: left;
    
}

.themeDetails{
    
    height: 100%;
    width: 400px;
    padding: 10px 0 0 50px;   
    color: white;
    float: left;
}

h3{
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 3px;
    font-weight: 100;
}

.theme{
    font-weight: 800;
    margin-bottom: 20px;
}

progress{
    margin-bottom: 5px;
    -webkit-appearance: none;
	border: none;
}

.inProgress{
    color: orange;
    margin-bottom: 10px;
}

.complete{
    color: green;
    margin-bottom: 10px;
}

.blank{

    color: red;
    margin-bottom: 10px;
}

.arrowBox{
    height: 100%;
    float: right;
    padding-right: 100px;
}

.themeBox .arrow{
    position: relative;
    top: 25%;
    height: 50%;
    transition: all 1s;
}



#buttons{
    height: 200px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#buttons img{
    width: 60px;
    opacity: 0.7;
    transition: opacity 0.5s;
}

#buttons img:hover{
    opacity: 1;
}
