@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,900);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #111;
	font-family: Roboto, sans-serif;
}

::selection{
    background: #66FFCC;
}

::-moz-selection{
    background: #66FFCC;
}

span::-moz-selection {
  background-color: #66a1ff;
  color: auto;
}

span::selection{
  background-color: #66a1ff;
  color: auto;
}

header h1{

    font-size: 100px;
    text-align: center;
    padding: 35px 0 80px 0;
    letter-spacing: 0px;
    color:#66FFCC;
	text-transform: uppercase;
}

h2{
    color: #eee;
    padding-left: 400px;
    font-size: 35px;
    font-weight: 400;
}

p{
    padding: 20px 400px 150px 400px;
    color: #eee;
}

.themeBox{
    width: 100%;
    height: 150px;
    margin: 50px 0;
    background: #222;
    box-sizing: border-box;
    overflow: auto;
    

}

.link{
    overflow: hidden; /*clear fix*/
    padding: 0 300px;
    width: 100%;
    display: block;
    text-decoration: none;
}

.link:hover .arrow{
    transform: translateX(50px);
    
}

.imgBox{
    position: relative;
    height: 100%;
    float: left;
}


.imgBox img{
    height: 100%;
}


.themeDetails{
    
    height: 100%;
    width: 400px;
    padding: 10px 0 0 50px;   
    color: white;
    float: left;
}

h3{
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 3px;
    font-weight: 100;
}

.theme{
    font-weight: 800;
    margin-bottom: 20px;
}

progress{
    -webkit-appearance: none;
	border: none;
    position: absolute;
    bottom: 0;
    width: 100%;

}

.inProgress{
    color: orange;
    margin-bottom: 10px;
}

.complete{
    color: green;
    margin-bottom: 10px;
}

.blank{

    color: red;
    margin-bottom: 10px;
}

.arrowBox{
    height: 100%;
    float: right;
    padding-right: 100px;
}

.themeBox .arrow{
    position: relative;
    top: 25%;
    height: 50%;
    transition: all 1s;
}



#buttons{
    height: 200px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#buttons img{
    width: 60px;
    opacity: 0.7;
    transition: opacity 0.5s;
}

#buttons img:hover{
    opacity: 1;
}

@media (max-width: 1350px){
    .link{
        padding: 0 100px;
    }
    
    p{
        padding: 0 0 50px 0;
        width: 80%;
        margin: 0 auto;
    }
    
    h2{
        padding: 0;
        text-align: center;
    }
    
    h2{
        padding-bottom: 20px;
    }
}

@media (max-width: 970px){
    .themeDetails{
        float: none;
        clear: both;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        
    }
    .themeBox{
        background: none;
        height: 400px;
        padding: 0;
        
    }
    
    h3{
        padding: 15px 50px 0;
    }
    
    .imgBox{
        width: 300px;
        margin: 0 auto;
        height: auto;
        float: none;
    }
    
    .imgBox img{
        display: block;
        float: none;
        clear: both; 
        margin: 0 auto;
        height: 300px;
        text-align: center;
    }
    
    .arrow, .arrowBox, .dis{
        display: none;
    }
    
    header h1{
        font-size: 70px;
    }

}

@media (max-width: 700px){
    header h1{
        font-size: 40px;
    }
    
    .link{
        padding: 0;
    }
    
    .themeDetails{
        width: 100%;
    }
    
    .theme{
        text-align: center;
    }
    
}

