@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,900);

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:900);

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #3b3a3f;
	font-family: Roboto, sans-serif;
}

::selection{
    background: #00ce9b;
}

::-moz-selection{
    background: #00ce9b;
}

span::-moz-selection {
  background-color: #66a1ff;
  color: auto;
}

span::selection{
  background-color: #66a1ff;
  color: auto;
}

header {
background: #3b3a3f;
background: -moz-linear-gradient(top,  #2b3844 0%, #3b3a3f 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2b3844), color-stop(100%,#3b3a3f));
background: -webkit-linear-gradient(top,  #2b3844 0%,#3b3a3f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #2b3844 0%,#3b3a3f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #2b3844 0%,#3b3a3f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #2b3844 0%,#3b3a3f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3844', endColorstr='#3b3a3f',GradientType=0 ); /* IE6-9 */
}

header h1{
	width: 100%;
	height: auto;
    font-size: 100px;
    text-align: center;
    padding: 35px 0 80px 0;
    letter-spacing: 0px;
    color:#66FFCC;
<<<<<<< HEAD
<<<<<<< HEAD
	text-transform: uppercase;
	font-weight: 900;
	font-family: Source Sans Pro;
	display: inline-block;
=======
>>>>>>> origin/master
=======
>>>>>>> origin/master
}

h2{
    color: #f1f1f2;
    padding-left: 400px;
    font-size: 35px;
    font-weight: 400;
	width: 100%;
}

h2:nth-of-type(1) {
	background-color: #d1d2d4;
	display: block;
	color: #3b3a3f;
	border-bottom: 2px solid #d1d2d4;
	z-index: 2;
}

p{
    padding: 20px 400px 50px 400px;
    color: #3b3a3f;
	background-color: #d1d2d4;
}

.themeBox{
    width: 100%;
    height: 150px;
    margin: 25px 0;
    background: #222;
    box-sizing: border-box;
    overflow: auto;
}

.link{
    overflow: hidden; /*clear fix*/
    padding: 0 300px;
    width: 100%;
    display: block;
    text-decoration: none;
}

.link:hover .arrow{
    transform: translateX(50px);
    
}

.imgBox{
    position: relative;
    height: 100%;
    float: left;
}


.imgBox img{
    height: 100%;
}


.themeDetails{
    height: 100%;
    width: 400px;
    padding: 10px 0 0 50px;   
    color: white;
    float: left;
}

h3{
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 3px;
    font-weight: 100;
}

.theme{
    font-weight: 800;
    margin-bottom: 20px;
}

progress{
    -webkit-appearance: none;
	border: none;
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 5px;
}

.inProgress{
    color: orange;
    margin-bottom: 10px;
}

.complete{
    color: green;
    margin-bottom: 10px;
}

.blank{

    color: red;
    margin-bottom: 10px;
}

.arrowBox{
    height: 100%;
    float: right;
    padding-right: 100px;
}

.themeBox .arrow{
    position: relative;
    top: 25%;
    height: 50%;
    transition: all 1s;
}

footer {
	height: 25px;
	border-top: 2px solid #353439;
	line-height: 25px;
	text-align: right;
	color: #f1f1f2;
}

#buttons{
    height: 200px;
    padding-left: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3;
}

#buttons img{
    width: 60px;
    opacity: 0.7;
    transition: opacity 0.5s;
}

#buttons img:hover{
    opacity: 1;
}

@media (max-width: 1350px){
    .link{
        padding: 0 100px;
    }
    
    p{
        padding: 0 0 50px 0;
        width: 100%;
		padding-right: 50px;
		padding-left: 50px;
        margin: 0 auto;
    }
    
    h2{
        padding: 50px;
        text-align: center;
    }
    
    h2{
        padding-bottom: 20px;
    }
}

@media (max-width: 970px){
    .themeDetails{
        float: none;
        clear: both;
        height: 100px;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        
    }
    .themeBox{
        background: none;
        height: 400px;
        padding: 0;
        
    }
    
    h3{
        padding: 15px 50px 0;
    }
    
    .imgBox{
        width: 300px;
        margin: 0 auto;
        height: auto;
        float: none;
    }
    
    .imgBox img{
        display: block;
        float: none;
        clear: both; 
        margin: 0 auto;
        height: 300px;
        text-align: center;
    }
    
    .arrow, .arrowBox, .dis{
        display: none;
    }
    
    header h1{
        font-size: 70px;
    }

}

@media (max-width: 700px){
    header h1{
        font-size: 40px;
    }
    
    .link{
        padding: 0;
    }
    
    .themeDetails{
        width: 100%;
    }
    
    .theme{
        text-align: center;
    }
    
}

