/** SASS FOR LIFE **/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,900);
::-moz-selection {
  background-color: #ff4c4c;
  color: #fcfcfc;
}
::selection {
  background-color: #ff4c4c;
  color: #fcfcfc;
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	margin: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #fcfcfc;
}

.header, .colourPicker, .canvas, .buttons {
	float: left;
}

.header {
	width: 100%;
	height: 50px;
	background-color: #444;
	border-bottom: 2px solid #222;
	font-family: roboto;
	font-size: 40px;
	line-height: 50px;
	color: #fcfcfc;
	font-weight: 300;
}

input {
  display: none;
}

.canvas {
	width: 100%;
	height: 80%;
	z-index: -1;
}

.grid {
	position: absolute;
	height: 900px;
	width: 900px;
	top: calc(50% - 449px);
	left: calc(50% - 450px);
	z-index: 1;
}

.middle, .top, .bottom {
	position: absolute;
	height: 300px;
	width: 300px;
	background
}

.middle {
	top: 300px;
}

.bottom {
	top: 600px;
}

.center {
	left: 300px;
}

.right {
	left: 600px;
}

canvas, #can {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  border: 1px solid #222;
  background-color: #fff;
  z-index: 3;
}

.colourPicker {
	width: 100%;
	height: 10%;
	top: calc(100% - 150px);
	background-color: #444;
	font-family: roboto;
	color: #fcfcfc;
	text-align: center;
}

.buttons {
	width: 100%;
	height: 5%;
	text-align: right;
}

.buttons label {
	display: inline-block;
}

#green, #blue, #red, #orange, #yellow, #black, #white {
  position: relative;
  width: calc((100% / 7) - (50px / 7));
  height: 100%;
  display: inline-block;
  transition: 0.2s all ease;
}

#green {
  background-color: #2ECC40;
}

#blue {
  background-color: #0074D9;
}

#red {
  background-color: #FF4136;
}

#yellow {
  background-color: #FFDC00;
}

#orange {
  background-color: #FF851B;
}

#black {
  background-color: #111;
}

#white {
  background-color: #eee;
  color: #222;
}